[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/tristanitschner/simple-knn.git
	branch = main
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/tristanitschner/diff-gaussian-rasterization.git
	branch = main
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim.git
