*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.png
*.gif
*.ply
*.log
*.svg
storage_remote_config.sh
*.json
scripts/.env
*.env
data2
data
./data