*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
trial/
example_data/data
segmentation/data
segmentation_1view/data
debug_vis/
segmentation_old/
segmentation_1view/
*.pt
