{% extends 'base.html' %}

{% block content %}
    <h1>Flask SocketIO GUI</h1>

    <canvas id="myCanvas" width="640" height="480"></canvas>

    <div class="button-container">
        <span>Pose Reset</span>
        <button id="reset" class="buttons">Reset</button>
    </div>

    Step
    <div>
        <button id="decrease">-</button>
        <input type="text" id="stepValue" value="1">
        <button id="increase">+</button>
    </div>
    <div id="message"></div>

    <script src="{{ url_for('static', filename='js/ViewerPage.js') }}"></script>
{%  endblock %}
